body {
	background-color: #FFFEF4;
	color: #89776B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 50px;
}

footer {
	position: fixed;
	bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #ABD6E8;
    padding: 15px;	
}

.first {
	border-style: solid;
	border-color: #ABD6E8;
	height: 320px;
}

.second {
	border-style: solid;
	border-color: #ABD6E8;
	height: 160px;
}

.boxyb {
	border-style: solid;
	border-color: #ABD6E8;
	height: 620px;
}

.links a {
	text-decoration: none;
}

#boxyc a {
	text-decoration: none;
	transition: color 2s ease-out;
}

#boxyc ul {
	list-style-type: none;
}

#boxyc a:link {
	color: #ABD6E8;
}

#boxyc a:visited {
	color: #ABD6E8;
}

#boxyc a:hover {
	color: #A4D6CC;
}	

#iphoto {
	height: 225px;
	width: 225px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15.75px;
	margin-top: 15.75px;
}

#gallery {
	position: relative;
	height: 200px;
	left: -25px;
}

figure {
	position: absolute;
	left: 280px;
	top: 15px;
	opacity: .25;
	text-align: center;
}

#gallery ul {
	width: 300px;
	list-style-type: none;
}
#gallery li {
	display: inline;
	float: left;
	padding: 10px;
}
#gallery img {
	border-style: none;
}
#gallery a {
	text-decoration: none;
	font-style: italic;
}
#gallery span {
	position: absolute;
	left: -1000px;
	opacity: 0;
	transition: opacity 3s ease-in-out;
	color: #5C7fA3;
}
#gallery a:hover span {
	position: absolute;
	top: 15px;
	left: 280px;
	opacity: 1;
}

@media only screen and (max-width: 37.5em) {
	.boxyb {
		height: 330px;
	}
	
		#boxyc {
		height: 700px;
	}

	figure {
		position: absolute;
		left: 60px;
		top: 200px;
		opacity: .25;
		text-align: center;
	}

	#gallery a:hover span {
		position: absolute;
		left: 60px;
		top: 200px;
		opacity: 1;
	}

	.education, .second {
		height: 250px;
	}
	.last {
		height: 150px;
	}
}